/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Roboto', sans-serif;
}
/*Classes*/
.align-text-center {
    text-align: center;
}

.df{
    display: flex;
}
.ai-center{
    align-items: center;
}
.jc-center{
    justify-content: center;
}
.jc-space-between{
    justify-content: space-between;
}
.jc-space-around{
    justify-content: space-around;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    text-align: center;
    padding-top: 20px;
}